@model EntityLayer.Concrate.Guide

@{
    ViewData["Title"] = "AddNewDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add New Guide</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Fullname</label>
                        <input type="text" asp-for=Name class="form-control" id="basic-default-fullname" placeholder="Fullname...">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-money">Twitter URL</label>
                        <input type="text" asp-for=TwitterURL id="basic-defaul-money" class="form-control" placeholder="">
                        <span asp-validation-for="TwitterURL" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-money">InstagramURL</label>
                        <input type="text" asp-for=InstagramURL id="basic-defaul-InstagramURL" class="form-control" placeholder="">
                        <span asp-validation-for="InstagramURL" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-money">Image</label>
                        <input type="text" asp-for=Image id="basic-defaul-Image" class="form-control" placeholder="">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                  
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Description</label>
                        <textarea asp-for=Description id="basic-default-message" class="form-control" placeholder="Guide Desciption"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    @* <div class="mb-3">
                    <label for="formFile" class="form-label">Image1</label>
                    <input asp-for=Image class="form-control" type="file" id="formFile">
                    </div>*@
                    <button  class="btn btn-primary">Add New Guide</button>
                </form>
            </div>
        </div>
    </div>
</div>

