
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Admin Export Reports</h1>
<ul>

    <li>
          <a class="btn btn-outline-primary" href="/Admin/Export/DestinationListExport">Destination List Export with Excel</a>
     
    </li>

</ul>


