@model List<ContactUsMessage>;

@{
    ViewData["Title"] = "Contact us Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Waiting Response Messages</h4>

@*<a href="/Admin/ContactUs/A" class="btn btn-primary">Add New Destination</a>*@

<!-- Basic Bootstrap Table -->
<div class="card mt-2">
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>
                        <td>@item.Email</td>
                        <td>@item.MessageDate</td>
                        <td>@item.MessageBody</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Admin/Destination/UpdateDestination/@item.ContactUsID"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="/Admin/Destination/DeleteDestination/@item.ContactUsID"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->
