
@{
    Layout = null;
}


<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/LayoutPartial/_Header.cshtml");

<body>

    <!--header start -->
    @await Html.PartialAsync("~/Views/LayoutPartial/_NavBar.cshtml");
    <!--header end -->
    @RenderBody();
    <!--/w3l-footer-29-main-->
    @await Html.PartialAsync("~/Views/LayoutPartial/_Footer.cshtml");

    <!-- Template JavaScript -->
    @await Html.PartialAsync("~/Views/LayoutPartial/_Script.cshtml");

</body>
</html>

