@{
    Layout = null;
}



<!--
=========================================================
* Soft UI Dashboard - v1.0.3
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/MemberLayoutPartial/_HeaderPartial.cshtml")

<body class="g-sidenav-show  bg-gray-100">

    @await Html.PartialAsync("~/Views/MemberLayoutPartial/_NavBarPartial.cshtml")

    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
   
        @await Html.PartialAsync("~/Views/MemberLayoutPartial/_NavBarPartial2.cshtml")

        <div class="container-fluid py-4">
            @RenderBody()

            @await Html.PartialAsync("~/Views/MemberLayoutPartial/_FooterPartial.cshtml")

        </div>
    </main>

    @await Html.PartialAsync("~/Views/MemberLayoutPartial/_RightSideBarPartial.cshtml")


    <!--   Core JS Files   -->
    <script src="~/soft-ui-dashboard/assets/js/core/popper.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/core/bootstrap.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/soft-ui-dashboard/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>


